<div class="nt-4">

    <h3>Đăng sản phẩm</h3>

    <form method="POST" action="/classes/store">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả sản phẩm</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="form-group">
            <label for="trans">Vận chuyển</label>
            <input type="text" class="form-control" id="trans" name="trans">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>

</div>